:root{
    --color:red;
}

.card{
    --fonti:blue;
    background-color: red;
    background-color: var(--color);
    width: 250px;
    height: 250px;
    border: 5px solid;
    clip-path: circle(100px at 100px 100px);
    clip-path: circle(100px at 0 0);
}
