*{
    padding: 0px;
    margin: 0px;
}
div{
    display:inline-block ;
    background-color: darkgrey;
    color:white;
    padding: 50px;
    /* top, right, bottom, left */
    margin-left: 50px;
}
.div2{
    background-color: red;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 0px;
}