.transforms{
    width: 250px;
    height: 250px;
    background-color: red;
    /* transform: translate(50%); */
    /* translate x e largon ne menyre horizontale ----- */
    /* transform: translateX(50%);
    /* translate y e largon ne menyre vertikale | */
    /* transform: translateY(50%);  */
    /* transform: translate(70%,50%);
    transform: rotate(60deg); */
    margin-top: 300px;
    margin-left: 400px;
    transition: .3s ease-in-out;
}
.transforms:hover{
    transform: scale(1.5,2);
    /* vlera par horizontale, vlera dyte vertikale */
    transform: skew(20deg);
    /* i lakon kendet per 20 shkalle */
    transition: .3s ease-in-out;

}